node_modules/
assets/adaptive-icon.png
assets/icon.png
assets/splash.png
assets/favicon.png
assets/login.png
components/inputs.js 
.expo/
dist/
./eas.json
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
